spring:
  application:
    name: batch-job

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 200MB

  datasource:
    url: jdbc:postgresql://${PGHOST:localhost}:${PGPORT:5432}/${PGDATABASE:batchjob}
    username: ${PGUSER:postgres}
    password: ${PGPASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: ${PORT:8080}

google:
  oauth:
    client-id: ${GOOGLE_CLIENT_ID:}
    client-secret: ${GOOGLE_CLIENT_SECRET:}
    refresh-token: ${GOOGLE_REFRESH_TOKEN:}
  drive:
    folder-id: ${GOOGLE_DRIVE_FOLDER_ID:1LIHKkDtUHODebY7R7Ev64FV-gEP-Ap8j}

logging:
  level:
    com.batchjob: INFO
